<!-- Footer -->
<footer>
    <p>© 2024 Aaron Ray Brittannia
        <p>Connect with me:</p>
    <a href="https://github.com/AaronRayb" target="_blank" rel="noopener noreferrer">GitHub</a> | 
    <a href="https://www.linkedin.com/in/AaronRayBrittannia" target="_blank" rel="noopener noreferrer">LinkedIn</a>

</footer>
