 <!-- Header --> 
 <header>
    <h1>Aaron Ray Brittannia</h1>
    <p>Creative digital designer, Passionate Web Designer</p>
    <nav>
     <!-- Hamburger Menu Button -->
     <button class="hamburger" id="hamburger-icon">&#9776;</button>
     <ul id="nav-links">
         <li><a href="#home">Home</a></li>
         <li><a href="#projects">Projects</a></li>
         <li><a href="#about">About</a></li>
         <li><a href="#contact">Contact</a></li>
     </ul>
    </nav>
</header>
